.card_primary {
  border-radius: var(--border_radius_lg);
  padding: 0;
  border: 2px solid var(--gc_gray_300);
  box-shadow: none;
}

.card_primary .MuiCardHeader-root,
.card_primary .MuiCardActions-root {
  background: rgba(221, 230, 242, 0.40);
  padding: 8px 12px;
}

.card_primary .MuiCardHeader-root {
  border-bottom: 2px solid var(--gc_gray_300);
}

.card_primary .MuiCardHeader-root .MuiCardHeader-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card_primary .MuiCardHeader-root h6,
.card_primary .MuiCardHeader-title {
  margin-bottom: 0;
  font-weight: 600;
}

.card_primary .MuiCardHeader-root .MuiButtonBase-root {
  padding: 2px;
  position: relative;
  top: 2px;
}

.card_primary .MuiCardActions-root {
  border-top: 2px solid var(--gc_gray_300);
  justify-content: flex-end;
}

.MuiDataGrid-footerContainer .MuiInputBase-root,
.MuiDataGrid-footerContainer .MuiFormControl-root {
  width: initial;
}

.card_primary .MuiCardActions-root .MuiButton-outlined {
  font-size: 1.3rem;
  margin-left: 5px;
}

.card_primary .MuiCardActions-root .MuiSvgIcon-root {
  font-size: 14px;
}



::placeholder {
  font-size: 13px;
  color: #757579;
}

input:focus::placeholder {
  color: transparent;
}

.captcha_field {
  position: relative;
}

.captcha {
  position: absolute !important;
  background: url(./captcha_bg.png) no-repeat center top;
  background-size: cover;
  width: 117px;
  height: 39px;
  max-height: 39px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  right: 0;
  top: 0;
  border-left: 1px solid var(--dark);
}

.captcha .MuiTypography-root {
  position: relative;
  z-index: 1;
  font-family: 'momstypewriterregular';
  font-size: 20px;
  letter-spacing: 5px;
}

.captcha:before {
  content: "";
  background: radial-gradient(#8290ad 1px, transparent 0px),
              radial-gradient(#8290ad 1px, transparent 0px);
  background-position: 0 0, 3px 3px;
  background-size: 3px 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.captcha_block button {
  padding: 1px 5px !important;
}

.captcha_block .MuiSvgIcon-root {
  font-size: 18px;
}

.MuiRadio-root {
  padding: 0 5px 0 8px !important;
}

.MuiCheckbox-root {
  padding: 4px 4px 4px 9px;
}

.MuiInputBase-root,
.MuiFormControl-root {
  width: 100%;
}
